<!DOCTYPE html>
<html>
	<head>
		<title>TP2</title>
		<meta charset="utf-8"/>
		<meta name="author" content="Jonathan Lauzon" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<h1><a href="/">TP2 – Node.js et mongodb</a></h1>
		<div id="tableau">
			<% if(!tri) {var tri = 0} %>
			<div class="rangee rangee--head">
				<a href="/trier/nom/<% if(tri == 'nom') { %>desc<% } else { %>asc<% } %>" class="case rangee--head__case case--nom <% if(tri == 'nom') { %> trier<% } %><% if(tri == 'nom-inverse') { %> trier-inverse<% } %>"><p>Nom</p></a>
				<a href="/trier/prenom/<% if(tri == 'prenom') { %>desc<% } else { %>asc<% } %>" class="case rangee--head__case case--prenom <% if(tri == 'prenom') { %> trier<% } %><% if(tri == 'prenom-inverse') { %> trier-inverse<% } %>"><p>Prénom</p></a>
				<a href="/trier/telephone/<% if(tri == 'telephone') { %>desc<% } else { %>asc<% } %>" class="case rangee--head__case case--telephone <% if(tri == 'telephone') { %> trier<% } %><% if(tri == 'telephone-inverse') { %> trier-inverse<% } %>"><p>Téléphone</p></a>
				<a href="/trier/_id/<% if(tri == '_id') { %>desc<% } else { %>asc<% } %>" class="case rangee--head__case case--id <% if(tri == '_id') { %> trier<% } %><% if(tri == '_id-inverse') { %> trier-inverse<% } %>"><p>Index</p></a>
				<p class="case rangee--head__case case--vide"></p>
				<p class="case rangee--head__case case--vide"></p>
			</div>
			<% if (liste) { %>
				<% for (var i = 0; i < liste.length; i++) { %>
					<div class="rangee">
						<p class="case case--nom" contenteditable="true"><%= liste[i].nom %></p>
						<p class="case case--prenom" contenteditable="true"><%= liste[i].prenom %></p>
						<p class="case case--telephone" contenteditable="true"><%= liste[i].telephone %></p>
						<p class="case case--id"><%= liste[i]._id %></p>
						<p class="case case--modifier"><i class="fa fa-floppy-o" aria-hidden="true"></i></p>
						<p class="case case--supprimer"><i class="fa fa-trash" aria-hidden="true"></i></p>
					</div>
				<% } %>
			<% } %>
			<div class="rangee rangee--ajout">
				<p class="case rangee--ajout__case case--nom case--nom--nouveau" contenteditable="true">Nom</p>
				<p class="case rangee--ajout__case case--prenom case--prenom--nouveau" contenteditable="true">Prénom</p>
				<p class="case rangee--ajout__case case--telephone case--telephone--nouveau" contenteditable="true">Téléphone</p>
				<p class="case rangee--ajout__case case--id">_id</p>
				<p class="case rangee--ajout__case case--ajouter"><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
				<p class="case rangee--ajout__case case--vide"></p>
			</div>
		</div>
		<div class="rangee cachee">
			<p class="case case--nom" contenteditable="true"></p>
			<p class="case case--prenom" contenteditable="true"></p>
			<p class="case case--telephone" contenteditable="true"></p>
			<p class="case case--id"></p>
			<p class="case case--modifier"><i class="fa fa-floppy-o" aria-hidden="true"></i></p>
			<p class="case case--supprimer"><i class="fa fa-trash" aria-hidden="true"></i></p>
		</div>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>