.rangee.cachee {
  display: none;
  overflow: hidden;
}
body {
  width: 100vw;
  max-width: 100vw;
  font-family: arial;
  font-size: 12px;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
#tableau {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  align-content: stretch;
}
#tableau a {
  text-decoration: none;
}
#tableau .rangee {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
  align-content: stretch;
}
#tableau .rangee .case {
  height: 50px;
  line-height: 40px;
  padding: 5px;
  overflow: hidden;
}
#tableau .rangee.rangee--head .case--nom,
#tableau .rangee.rangee--head .case--prenom,
#tableau .rangee.rangee--head .case--telephone,
#tableau .rangee.rangee--head .case--id,
#tableau .rangee.rangee--head .case--vide {
  background-color: #333;
  color: #fff;
}
#tableau .rangee.rangee--head .case--nom.trier p::after,
#tableau .rangee.rangee--head .case--prenom.trier p::after,
#tableau .rangee.rangee--head .case--telephone.trier p::after,
#tableau .rangee.rangee--head .case--id.trier p::after,
#tableau .rangee.rangee--head .case--vide.trier p::after {
  content: ' ▼';
}
#tableau .rangee.rangee--head .case--nom.trier-inverse p::after,
#tableau .rangee.rangee--head .case--prenom.trier-inverse p::after,
#tableau .rangee.rangee--head .case--telephone.trier-inverse p::after,
#tableau .rangee.rangee--head .case--id.trier-inverse p::after,
#tableau .rangee.rangee--head .case--vide.trier-inverse p::after {
  content: ' ▲';
}
#tableau .rangee.rangee--head .case--nom:not(.case--vide):hover,
#tableau .rangee.rangee--head .case--prenom:not(.case--vide):hover,
#tableau .rangee.rangee--head .case--telephone:not(.case--vide):hover,
#tableau .rangee.rangee--head .case--id:not(.case--vide):hover,
#tableau .rangee.rangee--head .case--vide:not(.case--vide):hover {
  cursor: pointer;
  background-color: #111;
}
#tableau .rangee.rangee--head .case--nom:not(.case--vide):hover:not(.trier) > p::after,
#tableau .rangee.rangee--head .case--prenom:not(.case--vide):hover:not(.trier) > p::after,
#tableau .rangee.rangee--head .case--telephone:not(.case--vide):hover:not(.trier) > p::after,
#tableau .rangee.rangee--head .case--id:not(.case--vide):hover:not(.trier) > p::after,
#tableau .rangee.rangee--head .case--vide:not(.case--vide):hover:not(.trier) > p::after {
  content: ' ▼';
}
#tableau .rangee.rangee--head .case--nom:not(.case--vide):hover.trier > p::after,
#tableau .rangee.rangee--head .case--prenom:not(.case--vide):hover.trier > p::after,
#tableau .rangee.rangee--head .case--telephone:not(.case--vide):hover.trier > p::after,
#tableau .rangee.rangee--head .case--id:not(.case--vide):hover.trier > p::after,
#tableau .rangee.rangee--head .case--vide:not(.case--vide):hover.trier > p::after {
  content: ' ▲';
}
#tableau .rangee.rangee--ajout .case--nom,
#tableau .rangee.rangee--ajout .case--prenom,
#tableau .rangee.rangee--ajout .case--telephone,
#tableau .rangee.rangee--ajout .case--id {
  background-color: #ccc;
}
#tableau .rangee.rangee--ajout .case--id {
  color: #888888;
}
#tableau .rangee:nth-child(odd):not(.rangee--ajout):not(.rangee-head) {
  background-color: #f0f0f0;
}
#tableau .rangee:nth-child(even):not(.rangee--ajout):not(.rangee-head) {
  background-color: #e6e6e6;
}
#tableau .rangee .case--nom,
#tableau .rangee .case--prenom,
#tableau .rangee .case--telephone {
  flex-basis: 15%;
}
#tableau .rangee .case--id {
  flex-basis: 45%;
  color: #888888;
}
#tableau .rangee .case--vide {
  flex-basis: 5%;
}
#tableau .rangee .case--ajouter,
#tableau .rangee .case--modifier,
#tableau .rangee .case--supprimer {
  flex-basis: 5%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
#tableau .rangee .case--ajouter i,
#tableau .rangee .case--modifier i,
#tableau .rangee .case--supprimer i {
  pointer-events: none;
}
#tableau .rangee .case--ajouter {
  font-size: 40px;
  color: #00aa33;
}
#tableau .rangee .case--ajouter:hover,
#tableau .rangee .case--ajouter:active {
  color: #00912b;
}
#tableau .rangee .case--modifier {
  font-size: 16px;
  background-color: #00aa33;
}
#tableau .rangee .case--modifier:hover,
#tableau .rangee .case--modifier:active {
  background-color: #00912b;
}
#tableau .rangee .case--supprimer {
  font-size: 16px;
  background-color: #ff0000;
}
#tableau .rangee .case--supprimer:hover,
#tableau .rangee .case--supprimer:active {
  background-color: #e60000;
}
@media screen and (min-width: 960px) {
  body {
    font-size: 16px;
  }
  #tableau {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  #tableau {
    width: 70%;
  }
}
