body {
	width: 100vw;
	max-width: 100vw;
}

#tableau {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;

	.rangee {
		width: 100%;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
		justify-content: space-around;
		align-content: stretch;
		.case {
			height: 100px;
			line-height: 90px;
			padding: 5px;
			overflow: hidden;
		}

		.case--nom,
		.case--prenom,
		.case--telephone, {
			flex-basis: 15%;
		}

		.case--id {
			flex-basis: 45%;
		}

		.case--vide,
		.case--ajouter,
		.case--modifier,
		.case--supprimer {
			flex-basis: 5%;
		}
	}
}